#mainPage{
    height: 90%;
    height: 90%;
}
#mainPage h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
#mainPage h2 {
    color: #FFCE32;
    font-size: 3.0rem;
}
#mainPage p{
    font-size: 2.0rem;
    font-weight: bold;
}
#mainPage button {
    height: 50px;
}