menu{
    height: 100%;
    width: 20%;
    background-color: #1C3E4A;
    color: white;
}
menu h1,menu h2{
    font-weight: bold;
    cursor: default;
}
a{
    text-decoration: none;
    cursor: pointer;
}